#footer {
  background-color: $gray-darker;
  color: $gray-lighter;
  padding: 30px 20px;
  p {
    margin-top: 17px;
  }
  ul {
    margin-top: 10px;
  }
  a {
    color: $gray-lighter;
    font-size: 30px;
    letter-spacing: 20px;
    transition: color 0.5s ease;
    &:hover {
      color: $yellow;
    }
  }
}
