---
title: CSS3 Animation
---

  <div id="blue-banner">
    <div class="fadeInAndSlideDown">
      <h1>CSS animation</h1>
      <p>Pimp your page without any JS</p>
    </div>
      <i class="fa fa-angle-down pulse"></i>
  </div>

  <div class="padded text-center slideExpandUp" id="address">
    <i class="fa fa-diamond hatch"></i>
    <div class="address">
      <h2>Le Wagon</h2>
      <p>25, rue du petit Musc 75004 Paris</p>
    </div>
  </div>